
  <div class="col s3 m3 offset-s1 ">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @product['name'] %></span>
        <p class='hidden hide'>Base Price: <%= @product['base_price'] %></p>
        <p class='hidden hide'>Description: <%= @product['description'] %></p>
        <p>Available: <%= @product['quanity_on_hand']%></p>
        <p class='hidden hide'>Color: <%= @product['color']%></p>
        <p class='hidden hide'>Weight: <%= @product['weight'] %></p>
        <p class='hidden hide'>Other Attributes: <%= @product['other_attributes'] %></p>
      </div>
      <div id='links' class="card-action">
        <a href=<%= @product[:id] %> id='edit_product'>Edit Product</a>
        <a href=<%= @product[:id] %> id='delete_product'>Remove Product</a>
        <a href=<%= @product[:id] %> id='show_product'>Show</a>
      </div>
    </div>
  </div>